
.AboutMeDiv {
  text-align: center;
}



.BookingButton {
  background: white;
  color: black;
  font-size: 1.5em;
  border: 5px solid green;
}

.BookingButton:hover {
  
  font-size: 1.5em;
  scale: 1.2;
  border: 5px solid greenyellow;
}



.AboutMeText {
  font-size: 1.5em;
  margin: auto;
  max-width: 60vw;
}




@media only screen and (max-width: 875px) {
  .AboutMeText {
    
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    font-size: 1.2em
  }
}





