
.AboutMeDiv {
  text-align: center;
}







.AboutMeText {
  font-size: 1.5em;
  margin: auto;
  max-width: 100vw;
}




@media only screen and (max-width: 375px) {
  .AboutMeText {
    
    width: 90vw;
    max-width: 90vw;
    text-align: left;
  }
}





