





.ContactInfo {
  margin-bottom: 2vw;
  font-size: 2.5vh;
}



.ContactDiv {
  margin: auto;
  width: 25vw;
}


.ContactCopy {
  margin-top: 20vh;
  color: green;
}

.ContactCopy:hover {
  color: lightgreen;
}