





.ContactInfo {
  margin-bottom: 2vw;
  font-size: 0.8em;
}



.ContactDiv {
  margin: auto;
  width: 50vw;
}


.ContactCopy {
  margin-top: 20vw;
  color: green;
}

.ContactCopy:hover {
  color: lightgreen;
}