.HeaderDiv {
  text-align: center;
  
}



.intro {
  font-size: 1.5em;
  max-width: 100vh;
  margin: auto;
  color: #000000;
  
}


.introImage {
  margin-top: 10vh;
  border-radius: 40px;
  border: 5px double green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.introImage:hover {
  border-radius: 1px;
  border: 5px double lightgreen;
}



.glow {
  font-size: 3em;
  color: #000000;
  
  
  
  
}





@media only screen and (max-width: 875px) {
  .HeaderDiv {
    text-align: center;
    width: 100vw;
    margin: auto;
    justify-content: center;
  }

  .introImage {
    width: 90vw;
    height: 90vh;
    margin: auto;
  }

}