
.PortfolioGrid {
  display: flex;
  justify-content: space-between;
  margin:auto;
  width: 40vw;
}

.AboutMeText {
  font-size: 1.5em;
  margin: auto;
  max-width: 60vw;
}


.PortfolioPiece {
  
}


.PortfolioPiece:hover {
  scale: 1.5;
  
}

.PortfolioPiece:hover {
  scale: 1.2;
}



@media only screen and (max-width: 875px) {
  .PortfolioGrid {
    flex-direction: column;
  }
}