.App {
  text-align: center;
}


 
.SectionDivider {
  width:50%;
  text-align:center;
  margin-top: 8vh;
  margin-bottom: 4vh;
  color: #afea9d;
}


.SectionHeader {
  margin: auto;
  min-width: 28vw;
  margin-bottom: 4vh;
}

.SectionHeader:hover {
  text-decoration: underline wavy green 1px;
}


.SectionBrackets {
  color: green;
}



a {
  text-decoration: underline green;
  color: green;
}

a:hover {
  color: lightgreen;
  text-decoration: underline lightgreen;
}

